#display {
    height: 50px;
    width: 100%;
    background-color: rgb(130, 130, 74);
    box-shadow: 
        inset -1px 1px 5px 1px rgb(76, 76, 43),
        inset 2px -2px 0 0 rgb(70, 74, 91);
    border-radius: 10px;
    font-family: 'Silkscreen', sans-serif;
    display: flex;
    justify-content: center;
}

h3 {
    align-self: center;
}

@media (orientation: portrait) {
    #display {
        width: 80vw;
    }
    @media (min-width: 0) {
        #display {
            font-size: 1.5rem;
        }
    }
}


@media (orientation: landscape) {
    #display {
        width: 40vw;
    }
    @media (min-width: 0) {
        #display {
            font-size: 1.5rem;
        }
    }
}

