body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--light); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html {
    box-sizing: border-box;
    font-size: 1rem;
    scroll-behavior: smooth;
}
  
:root {
  --on-background: radial-gradient(rgb(45, 48, 58), rgb(33, 36, 43));
  --off-background: radial-gradient(rgb(156, 160, 175), rgb(91, 94, 104));
  --on-text: rgb(43, 46, 56);
  --off-text: rgb(128, 131, 143)
}