#switch {
    height: 60%;
    width: 20%;
    box-shadow: inset -2px 2px 15px 0 rgb(20, 21, 26);
    padding: 1px;
    border-radius: 5px;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.on-off {
    height: 100%;
    width: 100%;
    border-radius: none;
    border: none;
    font-family: 'Maven Pro', sans-serif;
    padding: 5px;
}

#on {
    border-radius: 5px 0 0 5px ;
    background: var(--off-background);
    color: var(--on-text);
}

#off {
    border-radius: 0 5px 5px 0 ;
    background: var(--on-background);
    color: var(--off-text);
}

@media (min-width: 0) {
    .on-off {
        font-size: 1rem;
    }
    #switch {
        margin-top: -10%;
    }
}

