h1 {
    font-size: 3rem;
    font-family: 'Maven Pro', sans-serif;
    color: rgb(40, 43, 53);
    text-shadow: 
        2px 1px 0 rgb(110, 110, 110),
        2px -2px 0 rgb(110, 110, 110);
    text-align: center;
}

@media (orientation: portrait) {
    #title {
        width: 100%;
        margin-top: 10%;
    }
    
}

@media (orientation: landscape) {
    #title {
        width: 55%;
        margin-top: 10%;
    }
}


